<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Ultimate Pokédex</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
   <header>
    <h1>Welcome to Ultimate Pokédex</h1>
    <p>Your one-stop solution for building and managing your dream Pokémon teams!</p>
    {{!-- <div class="center-container">
      <a href="/homepage" class="btn btn-primary">Start Here</a>
      <button class="login-button" role="button" onclick="location.href='/login'">Login</button>
    </div> --}}
        <div class="center-container">
        <a href="pokedex.html" class="btn">Start</a>
    </div>

    <div class="login-container">
        <a href="/login" class="login-button" onclick="location.href='/login'">Login</a>
      </div>

      <script id="login-template" type="text/x-handlebars-template">
        <h2>Login</h2>
        <form class="form login-form" method="POST" action="/login">
          <!-- Your login form fields here -->
        </form>
      </script>
    
      <!-- Handlebars Signup Form Template -->
      <script id="signup-template" type="text/x-handlebars-template">
        <h2>Signup</h2>
        <form class="form signup-form">
          <!-- Your signup form fields here -->
        </form>
      </script>
  </header>
  </main>

  <footer>
    <p>&copy; 2023 Ultimate Pokédex</p>
  </footer>
   <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
</body>

</html>
