<script id="pokemon-template" type="text/x-handlebars-template">
  <div class="pokemon-details">
    <img src="{{pokemonImage}}" alt="{{pokemonName}}">
    <h2>{{pokemonName}}</h2>
  </div>
</script>

