  
  /* Main Ultimate Pokedex title styling */
  .abc {
    background-image: url('../images/retro-wallper-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    display: auto;
    color: white;
    height: 200px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
 
  /* Links are now displayed left to right */
  .nav-links {
    list-style: circle;
    display: flex;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    margin-top: 0px;
    
  }
  
  /* Background for Nav bar */
  .nav-links li {
    margin: 0;
    padding: 0px;
    background-color: white;
    width: 100%;
    
  }
  
  
  /* Nav bar text coloring */
  .nav-links li a {
    display: block;
    padding: 10px;
    color: black;
    
  }
  
 
  /* Hovering over nav bar */
  .nav-links li a:hover {
    background-color: lightcoral;
  }

/*AKA New Team Button */
  .plus-button {
    background-image: url("../images/card-deck.png");
    background-size:contain;
    background-repeat: no-repeat;
    align-self: flex-start;
    text-align: center;
    color: white;
    text-size-adjust: 250px;
    margin: 55px;
    height: 225px;
    width: 175px;
    margin-right: 75%;
    display: left;
    margin-top: 0px;
    padding-top: 155px;
    font-weight: 800px;
  }

  
  /* Overall/Main background */
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("../images/pokeball-3.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  /*Pokedex */
  .Img1 {
    display: center;
    margin-inline: 10px auto;
    height: 200px;
    width: 200px;
    margin-top: 0px;
  }

.login-button {
  align-items: center;
  background-color: red;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 20px;
  right: 15px;
  padding: 15px;
}

.login-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.login-button:hover:after {
  transform: translate(0, 0);
}

.login-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.login-button:hover {
  outline: 0;
}




.register-button {
  align-items: center;
  background-color: yellow;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 95px;
  right: 15px;
  padding: 15px;
}

.register-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.register-button:hover:after {
  transform: translate(0, 0);
}

.register-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.register-button:hover {
  outline: 0;
}

footer {
  text-align: center;
  background-color: beige;
  margin-top: 50px;
  height: 100%;
  background-size: cover;
}
