body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  color: rgb(4, 0, 0);
  font-size: xx-large;
  
  
}

header {
  background-color: #f8f8f8;
  padding: 185px;
  padding-top: 18%;
  text-align: center;
  background-image: url('/images/start.png');
  background-size: cover;
  font-size: xx-large;
  background-repeat: no-repeat;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
}


main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.features {
  margin-bottom: 30px;
}

.features h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.features ul {
  list-style: disc;
  margin-left: 20px;
}

.cta {
  text-align: center;
  padding: 30px;
}

.cta p {
  font-size: 18px;
  margin-bottom: 15px;
}

.cta .btn-primary {
  font-size: 18px;
  padding: 15px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
 
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  
}

footer p {
  font-size: 14px;
  margin: 0;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  main {
    padding: 20px;
  }

  .cta .btn-primary {
    font-size: 16px;
    padding: 8px 16px;
  }
}


.btn{
  padding: 0px 200px;
  font-size: 90px;
  color:#06f8c0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-color: #ffefff;
  
}


/* Login button */
.login-button {
  align-items: center;
  background-color: red;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 700px;
  right: 48%;
  padding: 15px;

}

.login-button:after {
  background-color: white;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.login-button:hover:after {
  transform: translate(0, 0);
}

.login-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.login-button:hover {
  outline: 0;
}
