body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color:#ffefff;
  }


  .card {
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 25px;
    width: 400px;
    box-shadow: 0 8px 10px rgba(7, 7, 7, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
    width: 60%;
    margin-top: 10%;
    font-size: x-large;
    color: rgb(255, 0, 0);
    background-color: #181010;
  }

  .icon-group,
  .icon-group2 {
    display: flex;
    margin-bottom: 50px; 
    
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6 {
    width: 40px;
    height: 40px;
    margin: 0 150px;
    padding-top: 25px;  
    image-rendering:optimizeQuality;
  }

  .teams-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:10%;
  }

  .box-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .box {
    width: 150px;
    height: 150px;
    background-color: #439180;
    border: 1px solid #050000;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    padding-right: 15%;
    color:black;
    text-decoration:solid;
    size:50px;
    font-size: xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif ;
  }

  h2 {
    font-size: 55px;
    color:rgb(63, 75, 166);
    text-shadow:  #000000;
    
  }