body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color:#ffefff;
  }


  .card {
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 25px;
    width: 400px;
    box-shadow: 0 8px 10px rgba(7, 7, 7, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
    width: 60%;
    margin-top: 10%;
    font-size: x-large;
    color: rgb(255, 0, 0);
    background-color: #181010;
  }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 200px;
  height: 100px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.box:hover {
  background-color: #ddd;
}

/* Icon styles */
.icon-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.icon-group2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}

select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 200px;
}

#add-pokemon-btn {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .box {
    width: 100%;
    margin: 10px 0;
  }
}
